<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>excel page</title>
	
</head>
<body>
	<h1>resultst page {{mohtava}}</h1>
	
	<h3>in addad random tolid mishavad</h3>
	<input type="text" name="mohtava" value="{{mohtava}}">
	<input type="text" name="esm" value="{{datas.esm}}">
	<input type="text" name="famil" value="{{famil}}">
	<input type="text" name="famil" value="{{datas.mohtava}}">

</body>
</html>