<!doctype html>
 <html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>success page</title>
	
</head>
<body>
<div class="center-on-page">
<form method="POST" action ={{url_for('success')}} >
<li><p>toole ghade khod ra vared konid</p><input type="text" name="height" value=""></li>
<li><label>vazne khod ra vared konid</label><input type="text" name="vazn" value=""></li>
<li><input type="submit" value="submit"></li>
</form>
<button >log in</button>
</div>
</body>
</html>