<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>resultst page</title>
	
</head>
<body>
	<h1>resultst page {{number}}</h1>
	<h1>az index page {{hit}}</h1>
	<h2>in this field number</h2>
	<li><a href="{{url_for('index')}}" target="_blank">goto index</a></li>
	<li><a href="{{url_for('weather')}}" target="_blank">goto weather</a></li>
	<li><a href="{{url_for('result')}}" target="_blank">goto result</a></li>
	<h3>in addad random tolid mishavad</h3>
	<input type="text" name="number" value="{{number}}">

</body>
</html>