<!DOCTYPE html>
<html lang="en" id="">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>{% block title %}{%endblock %}</title>
	
</head>
<body>
	<h1>{{number+1}}</h1>
	<h1>{{number}}</h1>
	<h1>{{number}}</h1>
	<nav>one</nav>
	<nav>one</nav>
	<nav>one</nav>
<div>
	<ul>
		<li class="nav" href="index.php">{{number}}</li>
		<li class="nav" href="index.php">p;slg</li>
		<li class="nav" href="index.php"></li>
		
	</ul>
</div>
<div class="s"></div>
<div class="s"></div>
<div class="s"></div>
<div class="s"></div>



	
</body>
</html>