<!DOCTYPE html>
<html lang="en" id="">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>{% block title %}{%endblock %}</title>
	<style type="text/css">
		body{
			color:#d05454;
		}
		p , li , nav{
		color:#eee;
	}
	li>span , span {
		color: #052108;
	}

	</style>
</head>
<body>
	<h1>{{number+1}}</h1>
	<h1>{{number}}</h1>
	<h1>{{number}}</h1>
	{% for i in ind  %}
	<h1>partnumber is :{{date[i]}}</h1>
	<h1>decprition is : {{mandeh[i]}}</h1>
	{% endfor %}
	
	
	<nav>one</nav>
	<nav>one</nav>
	<nav>one</nav>
<div>
	<ul>
		<li class="nav" href="index.php"><p>{{number}}</p></li>
		<li class="nav" href="index.php">{{number*2}}</li>
		<li class="nav" href="index.php"><span>{{number*3}}</span></li>
		
	</ul>
</div>
<div class="s"></div>
<div class="s"></div>
<div class="s"></div>
<div class="s"></div>



	
</body>
</html>