<!DOCTYPE html>
<html lang="en" id="">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>{% block title %}{%endblock %}</title>
	<style type="text/css">
		body{
			color:#d05454;
		}
		p , li , nav{
		text-align:initial;
		color:#eee;
	}
	li>span , span, table, table>td , table>th {
		color: #052108;
		text-align:initial;
		font-style: italic;
	}
	address {
  display: block;
  font-style: italic;
  color: #052108;
  text-align:initial;
}


	</style>
</head>
<body>
	<h1>{{number+1}}</h1>
	<h1>{{number}}</h1>
	<h1>{{number}}</h1>
	{% for i in ind  %}
	<h1>partnumber is :{{part[i]}}</h1>
	<h1>decprition is : {{decprition[i]}}</h1>
	<h1>serial on is : {{seron[i]}}</h1>
	<h1>serial off is : {{serof[i]}}</h1>
	{% endfor %}
	
	<a class="button bg-green" href="{{url_for('view')}}" target="_blank" ><span>دانلود </span></a>

	<nav>one</nav>
	<nav>one</nav>
	<nav>one</nav>
<div>
	<ul>
		<li class="nav" href="index.php">{{number}}</li>
		<li class="nav" href="index.php">{{number*2}}</li>
		<li class="nav" href="index.php">{{number*3}}</li>
		
	</ul>
	<table border = "1">
  <tr>
  	<th>decprition</th>
    <th>partnumber</th>
    <th>SN OF</th>
    <th>SN ON</th>
  </tr>
  <tr>
  	{% for i in ind  %}
	<td>{{decprition[i]}}</td>
	<td>{{part[i]}}</td>
	<td>{{seron[i]}}</td>
	<td>{{serof[i]}}</td>
	{% endfor %}
    
  </tr>
</table>
</div>
<div class="s"></div>
<div class="s"></div>
<div class="s"></div>
<div class="s"></div>



<address>
	Written by hesam hosseini <br>
	My Site: mahantech.tk <br>
	My Location: Iran, tehran <br>
</address> 
</body>
</html>